@model IEnumerable<Passku.Models.Concrete.StoredPassword>
@{
    ViewData["Title"] = "Passwords";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">

    <div class="col-md-12">

        <a href="/Password/Add/" class="btn btn-info" style="margin-bottom:10px;"><i class="fa fa-plus-circle"></i> Add New Password</a>

        @if (TempData["MsgPasswordAddSuccessful"] != null)
        {
            <div class="alert alert-dark text-center" role="alert">
                @TempData["MsgPasswordAddSuccessful"]
            </div>
        }

        @if (TempData["MsgPasswordEditSuccessful"] != null)
        {
            <div class="alert alert-dark text-center" role="alert">
                @TempData["MsgPasswordEditSuccessful"]
            </div>
        }

        @if (TempData["MsgPasswordDeleteSuccessful"] != null)
        {
            <div class="alert alert-dark text-center" role="alert">
                @TempData["MsgPasswordDeleteSuccessful"]
            </div>
        }

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Password List</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a href="/Password/Detail/@item.Id" class="btn btn-success btn-sm"><i class="fa fa-search"></i> Read</a>
                                    <a href="/Password/Edit/@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();
    });
</script>