@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Passku - Panel</title>
    <meta name="description" content="Passku - User Panel">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="~/TemplateMain/added/css/normalize.min.css">

    <link href="~/TemplateMain/added/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/TemplateAdmin/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/TemplateAdmin/assets/css/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    
    <link href="~/TemplateMain/added/css/chartist.min.css" rel="stylesheet">
    <link href="~/TemplateMain/added/css/jqvmap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/TemplateAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link href="~/TemplateMain/added/css/weather-icons.css" rel="stylesheet" />
    <link href="~/TemplateMain/added/css/fullcalendar.min.css" rel="stylesheet" />

</head>
<body>

    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-title">My Panel</li><!-- /.menu-title -->
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "active" : "")">
                        <a href="/User/Home/"><i class="menu-icon fa fa-home"></i>Homepage </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Passwords" ? "active" : "")">
                        <a href="/User/Passwords/"> <i class="menu-icon ti-email"></i>My Passwords </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")">
                        <a href="/User/Profile/"> <i class="menu-icon ti-user"></i>Profile </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Announcements" ? "active" : "")">
                        <a href="/User/Announcements/"> <i class="menu-icon fa fa-bullhorn"></i>Announcements</a>
                    </li>


                    <li class="menu-title">Operations</li><!-- /.menu-title -->
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "CreatePassword" ? "active" : "")">
                        <a href="/User/CreatePassword/"> <i class="menu-icon fa fa-key"></i>Create New Password </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Add" ? "active" : "")">
                        <a href="/Password/Add/"> <i class="menu-icon fa fa-plus-square-o"></i>Add Password </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Report" ? "active" : "")">
                        <a href="/User/Report/"> <i class="menu-icon fa fa-flag-checkered"></i>Report Problem </a>
                    </li>

                    <li class="menu-title">Information</li><!-- /.menu-title -->
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                        <a href="/User/About/"> <i class="menu-icon fa fa-info-circle"></i>What is Passku ? </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Use" ? "active" : "")">
                        <a href="/User/Use/"> <i class="menu-icon fa fa-question-circle-o"></i>How To Use ? </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Source" ? "active" : "")">
                        <a href="/User/Source/"> <i class="menu-icon fa fa-codepen"></i>Source Code </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")">
                        <a href="/User/Logout/"> <i class="menu-icon fa fa-angle-double-left"></i>Quit </a>
                    </li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->

    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/User/Home/"><img src="~/TemplateAdmin/images/logopasssku.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/User/Home/"><img src="~/TemplateAdmin/images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">Read Announcements</p>
                                <a class="dropdown-item media" href="/User/Announcements/">
                                    <i class="fa fa-check"></i>
                                    <p>Go To Announcements Page !</p>
                                </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">Your Passwords</p>
                                <a class="dropdown-item media" href="/User/Passwords/">
                                    <p>Go To Passwords Page !</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/TemplateAdmin/images/logouser.png" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/User/Profile/"><i class="fa fa- user"></i>My Profile</a>

                            <a class="nav-link" href="/User/Passwords"><i class="fa fa- user"></i>Passwords</a>

                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                            <a class="nav-link" href="/User/Logout/"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            @RenderBody()
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
    </div>

    <!-- Scripts -->
    <script src="~/TemplateMain/added/js/jquery.min.js"></script>
    <script src="~/TemplateMain/added/js/popper.min.js"></script>
    <script src="~/TemplateMain/added/js/bootstrap.min.js"></script>
    <script src="~/TemplateMain/added/js/jquery.matchHeight.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/main.js"></script>


    <script src="~/TemplateAdmin/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/init/datatables-init.js"></script>

    <!--  Chart js -->
    <script src="~/TemplateMain/added/js/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="~/TemplateMain/added/js/chartist.min.js"></script>
    <script src="~/TemplateMain/added/js/chartist-plugin-legend.min.js"></script>

    <script src="~/TemplateMain/added/js/jquery.flot.min.js"></script>
    <script src="~/TemplateMain/added/js/jquery.flot.pie.min.js"></script>
    <script src="~/TemplateMain/added/js/jquery.flot.spline.min.js"></script>

    <script src="~/TemplateMain/added/js/jquery.simpleWeather.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/init/weather-init.js"></script>

    <script src="~/TemplateMain/added/js/moment.min.js"></script>
    <script src="~/TemplateMain/added/js/fullcalendar.min.js"></script>
    <script src="~/TemplateAdmin/assets/js/init/fullcalendar-init.js"></script>


</body>
</html>
